{# @var Model \rnadvanceemailingwc\TwigManager\Renderers\ColumnRenderer #}
<td class="rn-column {{ Model.GetUniqueId }}" style="width: {{ Model.GetWidth }}%;vertical-align: {{ Model.Align }}">
    {{ Model.RenderChildren }}
</td>