{% extends "TwigManager/Renderers/Blocks/Core/BlockRendererBase.twig" %}
{# @var Model \rnadvanceemailingwc\TwigManager\Renderers\Blocks\SubsectionBlockRenderer #}

{% block content %}
    <table>
        <tbody>
            {{ Model.RenderChildren }}
        </tbody>
    </table>

{% endblock %}